<!DOCTYPE html>
<html>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.css">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-xmlrpc/0.4.3/jquery.xmlrpc.js">
    </script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <link href="https://vjs.zencdn.net/7.8.4/video-js.css" rel="stylesheet" />
    <script src="http://vjs.zencdn.net/7.8.4/video.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/videojs-youtube/2.6.1/Youtube.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<head>


    <link rel="icon" type="image/png" href="http://127.0.0.1:4000/static/icon.ico" />

    <style>
        body {
            margin: 0 auto;
            width: 95%;
        }
    </style>

    <script>
        // sends request to get info about data creation events
        function updateDataCreationtable() {
            $.ajax({
                url: '/logs/DataCreation',
                type: "GET",
                dataType: "json",
                success: function(data) {
                    if (data === "failure") {
                        handleError(xhr, status, '');
                    }
                    console.log(data);
                    $('#dataCreationTable > tbody:last-child').empty()
                    data["DataCreation"].forEach(dc => {
                        console.log(dc["video_id"] + " " + dc["description"])
                        $('#dataCreationTable > tbody:last-child').
                        append('<tr> <td>' + dc["timestamp"] + '</td><td>' + dc["user"] + '</td><td>' + dc["content"] + ' </td><td>' + dc["data_type"] + '</td></tr>');
                    });
                },
                error: function(xhr, textStatus, errorThrown) {
                    alert("Logs process is down :(")
                }
            });
        }

        // sends request to get info about message exchange events
        function updateEventtable() {
            $.ajax({
                url: '/logs/Events',
                type: "GET",
                dataType: "json",
                success: function(data) {
                    if (data === "failure") {
                        handleError(xhr, status, '');
                    }
                    console.log(data);
                    $('#eventsTable > tbody:last-child').empty()
                    data["Events"].forEach(e => {
                        $('#eventsTable > tbody:last-child').
                        append('<tr> <td>' + e["timestamp"] + '</td><td>' + e["url"] + '</td></tr>');
                    });
                },
                error: function(xhr, textStatus, errorThrown) {
                    alert("Logs process is down :(")
                }
            });
        }

        // change between tables
        jQuery(function() {
            $('#table-select').change(function() {
                $('#tbl_div > div').css('display', 'none');
                if (this.value) {
                    console.log(this.value)
                    $('#' + this.value).css('display', 'block');
                }
            }).change(); //this is used to trigger a manual change handler initially so that the state is properly set on page load
        })

        $(document).ready(function() {
            // updates both tables
            updateDataCreationtable()
            updateEventtable()

            // go back to previous page
            $("#buttonGoBack").click(function() {
                window.history.back()
            })

            $("#home").click(function() {
                // go to stats html page
                window.location.assign("http://127.0.0.1:4000/logged_In/" + id + "/" + user)
            })
        });
    </script>
</head>

{% if role == "admin" %}

<body>
    <h3 style="margin-top:15px;">List of logs</h3>
    <select style="margin-top:15px;" class="form-control" id="table-select">
        <option value="tb1" selected>Data Creation Event Logs</option>
        <option value="tb2">Message Event Logs</option>
    </select>
    <div style="margin-top:25px;" id="tbl_div">
        <div id="tb1">
            <table class="ui celled table selectable" id="dataCreationTable">
                <thead>
                    <tr>
                        <th style="width: 15%">Timestamp</th>
                        <th style="width: 15%">User</th>
                        <th style="width: 55%">Data Content</th>
                        <th style="width: 15%">Data Type</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div id="tb2">
            <table class="ui celled table selectable" id="eventsTable">
                <thead>
                    <tr>
                        <th style="width: 15%">Timestamp</th>
                        <th style="width: 55%">URL</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <button style="margin-top:25px;" class="btn btn-secondary" id="buttonGoBack">Back</button>
    </div>
    {% else %}
    <h3 style="margin-top:15px;">Only administrators can view this information</h3>
    {% endif %}
</body>


</html>

</html>