<!DOCTYPE html>
<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.css">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-xmlrpc/0.4.3/jquery.xmlrpc.js">
    </script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <link href="https://vjs.zencdn.net/7.8.4/video-js.css" rel="stylesheet" />
    <script src="http://vjs.zencdn.net/7.8.4/video.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/videojs-youtube/2.6.1/Youtube.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
        body {
            margin: 0 auto;
            width: 95%;
        }

        table th {
            position: sticky;
            top: 0;
            z-index: 5;
            background: #fff;
        }
    </style>

    <script>
        var id = '{{id}}'
        var user = '{{user}}'
        var name = '{{name}}'

        function addNewQuestion(time, question) {
            // TODO 4 - create an object (requestData) that contains the url and descrition
            // look at the server to understand what data should be sent.
            let requestData = {
                "v_id": id,
                "user": user,
                "name": name,
                "time": time,
                'question': question
            }
            $.ajax({
                url: '/QA',
                type: "POST",
                dataType: "json",
                contentType: 'application/json',
                data: JSON.stringify(requestData),
                success: function(data) {
                    //TODO 5 after creating the video update the table
                    console.log("response for question creation" + data)
                    console.log(data)
                    updateQuestiontable()
                }
            });
        }

        function addNewAnswer(user, name, answer, question) {
            // TODO 4 - create an object (requestData) that contains the url and descrition
            // look at the server to understand what data should be sent.
            let requestData = {
                "user": user,
                "name": name,
                'answer': answer,
                "question": question,
            }
            $.ajax({
                url: '/Answers',
                type: "POST",
                dataType: "json",
                contentType: 'application/json',
                data: JSON.stringify(requestData),
                success: function(data) {
                    //TODO 5 after creating the video update the table
                    console.log("response for answer creation" + data)
                    console.log(data.question)
                    updateAnswerstable(data.question)
                }
            });
        }

        function updateQuestiontable() {
            $.ajax({
                url: '/QA/' + id,
                type: "GET",
                dataType: "json",
                success: function(data) {
                    console.log(data);
                    $('#questionsTable > tbody:last-child').empty()
                    data["QA"].forEach(q => {
                        console.log(q["time"] + " " + q["question"])
                        $('#questionsTable > tbody:last-child').
                        append('<tr> <td style="width: 25%">' + q["time"] + '</td><td style="width: 65%">' + q["question"] + '</td><td style="text-align:center; "width: 10%;> <input type="radio" name="radioQ" value=' + q["QA_id"] + '> </td></tr>');
                    });
                }
            });
        }

        function updateAnswerstable(question_id) {
            $.ajax({
                url: '/Answers/' + question_id,
                type: "GET",
                dataType: "json",
                success: function(data) {
                    console.log("ola");
                    console.log(data);
                    $('#ansTable > tbody:last-child').empty()
                    data["Answers"].forEach(a => {
                        console.log(a["user"] + " " + a["name"] + " " + a["answer"] + " " + a["question"])
                        $('#ansTable > tbody:last-child').
                        append('<tr> <td>' + a["user"] + '</td><td>' + a["name"] + '</td><td>' + a["answer"] + '</td></tr>');
                    });
                }
            });
        }

        $(document).ready(function() {
            var vPlayer = videojs('videoPlayer');
            var n_ques = updateQuestiontable()
            $.ajax({
                //TODO 9 - increase the number of views
                url: '/videos/' + id + "/views",
                type: "PUT",
                dataType: "json",
                success: function(data) {
                    console.log(data)
                }
            })
            $("#buttonVideoPause").click(function() {
                vPlayer.pause()
                var pauseTime = vPlayer.currentTime()
                $("#resumetime").val(pauseTime)

            })
            $("#buttonVideoResume").click(function() {
                    vPlayer.currentTime(parseFloat($("#resumetime").val()))
                    vPlayer.play()
                })
                //TODO 6 - get the value of #playVideoID
                $.ajax({
                //TODO 7 - retrieve the corresponding URL by
                //        calling the /videos/<id>/ REST endpoint)
                url: '/videos/' + id + '/',
                type: "GET",
                dataType: "json",
                success: function(data) {
                    console.log(data)
                    url = data["url"]
                    $("#desc").html("Playing: " + data["description"]);
                    console.log(url)
                        //TODO 8 - update the player with the url retrieved
                    vPlayer.src({
                        "type": "video/youtube",
                        "src": url
                    });
                    vPlayer.play()
                }
            });

            // TODO 11 - update the table
            $("#buttonAddQuestion").click(function() {
                    newTime = $("#newTime").val()
                    newQuestion = $("#newQuestion").val()
                    document.getElementById("newTime").value = ""
                    document.getElementById("newQuestion").value = ""
                    addNewQuestion(newTime, newQuestion)
                        //TODO 3 - get the values of #newVideoURL and newVideoDescription
                        // and pass those values to the addNewVideo function
                    vPlayer.currentTime(parseFloat($("#resumetime").val()))
                    vPlayer.play()
                    document.getElementById("newQ").style.display = "none";

                    $.ajax({
                        //TODO 9 - increase the number of views
                        url: '/videos/' + id + '/questions',
                        type: "PUT",
                        dataType: "json",
                        success: function(data) {
                            console.log("PUUUT")
                            console.log(data)
                        }
                    })
                })
                // TODO 11 - update the table
            $("#buttonAddAnswer").click(function() {
                newAnswer = $("#newAnswer").val()
                question = $('input[name=radioQ]:checked').val()
                document.getElementById("newAnswer").value = ""
                console.log(user)
                console.log(name)
                console.log(newAnswer)
                console.log(question)
                if (question > 0) {
                    addNewAnswer(user, name, newAnswer, question)
                } else
                    alert("Please choose a question to answer")
                    //TODO 3 - get the values of #newVideoURL and newVideoDescription
                    // and pass those values to the addNewVideo function
            })
            $("#buttonSeeAnswers").click(function() {
                question_id = $('input[name=radioQ]:checked').val()
                console.log(question_id)
                updateAnswerstable(question_id)
                document.getElementById("ListA").style.display = "block"; 
                document.getElementById("ListA").style.marginTop = "25px";
                $.ajax({
                    url: '/QA/' + id + '/' + question_id,
                    type: "GET",
                    dataType: "json",
                    success: function(data) {
                        info = data["QA"][0]
                        console.log("cabeçalho")
                        console.log(question_id);
                        console.log(data)
                        document.getElementById("info1").innerHTML = 'Time: ' + info["time"] + ' Question: ' + info["question"];
                        document.getElementById("info2").innerHTML = 'User: ' + info["user"] + ' ' + info["name"];
                    }
                })
            })

            $("#buttonNewQuestion").click(function() {
                document.getElementById("newQ").style.display = "block";
                document.getElementById("newQ").style.marginTop = "5px";
                vPlayer.pause()
                var pauseTime = vPlayer.currentTime()
                console.log(pauseTime)
                $("#resumetime").val(pauseTime)
                document.getElementById("newTime").value = pauseTime;
            })

            $("#buttonGoBack").click(function() {
                window.history.back() 
            })
        });
    </script>
</head>

<body>
    <h2 style="margin-top:5px" id="desc"></h2>
    <div class="row">
        <div class="element1 col-md-5">
            <video id="videoPlayer" controls class="video-js vjs-default-skin" width="640" data-setup='{ "autoplay": true, "preload": "auto", "techOrder": ["youtube"], "sources": [{ "type": "video/youtube" }'>
            </video>
        </div>
        <div class="element2 col-md-1">
        </div>
        <div class="element3 col-md-5" style="height:26vw;overflow:auto;">
            <table class="ui celled table selectable" id="questionsTable">
                <thead>
                    <tr>
                        <th style="width: 25%">Time [s]</th>
                        <th style="width: 65%">Question</th>
                        <th style="width: 10%">Answers</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="element4 col-md-1">
        </div>
    </div>
    <div class="row">
        <div style="margin-top:5px;" class="element1 col-md-6">
            <button class="btn btn-info" id="buttonVideoPause">PAUSE Video</button>
            <div class="ui input focus">
                <input type="text" id="resumetime">
            </div>
            <button class="btn btn-info" id="buttonVideoResume">RESUME Video</button>
        </div>
        <div class="element1 col-md-6">
            <button style="margin-top:5px;" class="btn btn-info" id="buttonSeeAnswers">See Answers</button>
        </div>
    </div>
    
    
    
    </br>
    <button class="btn btn-info" id="buttonNewQuestion">New Question</button>
    <div id="newQ" style="display:none">
        <h3>Add a new Question</h3>
        <div class="ui input">
            <input type="text" placeholder="Time" id="newTime" disabled="disabled">
        </div>
        <div class="ui input">
            <input type="text" placeholder="Question" id="newQuestion">
        </div>
        <button class="btn btn-info" id="buttonAddQuestion">Add new Question</button>
    </div>
    <div id="ListA" style="display:none">
        <h3 id="info1"></h3>
        <h3 id="info2"></h3>
        <h3>List of Answers</h3>
        <table class="ui celled table selectable" id="ansTable">
            <thead>
                <tr>
                    <th style="width: 15%">User</th>
                    <th style="width: 25%">Name</th>
                    <th style="width: 60%">Answer</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <h3>Add a new Answer</h3>
        <div class="ui input">
            <textarea cols="50" type="text" placeholder="Answer" id="newAnswer" placeholder="Add answer"></textarea>
            
        </div>
        <button class="btn btn-info" id="buttonAddAnswer">Add new Answer</button>
    </div>
    <div>
        <button style="margin-top:25px;" class="btn btn-secondary" id="buttonGoBack">Back</button>
    </div> 
</body>

</html>