<!DOCTYPE html>
<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.css">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-xmlrpc/0.4.3/jquery.xmlrpc.js">
    </script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <link href="https://vjs.zencdn.net/7.8.4/video-js.css" rel="stylesheet" />
    <script src="http://vjs.zencdn.net/7.8.4/video.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/videojs-youtube/2.6.1/Youtube.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
        table td .radio {
            border: 1px solid red;
            display: block;
            margin: 0 auto;
        }
    </style>

    <script>
        var id = '{{id}}'
        var user = '{{user}}'
        var name = '{{name}}'

        function addNewQuestion(time, question) {
            // TODO 4 - create an object (requestData) that contains the url and descrition
            // look at the server to understand what data should be sent.
            let requestData = {
                "time": time,
                'question': question
            }
            $.ajax({
                url: '/QA',
                type: "POST",
                dataType: "json",
                contentType: 'application/json',
                data: JSON.stringify(requestData),
                success: function(data) {
                    //TODO 5 after creating the video update the table
                    console.log("response for question creation" + data)
                    console.log(data)
                    updateQuestiontable()
                }
            });
        }

        function addNewAnswer(user, name, answer, question) {
            // TODO 4 - create an object (requestData) that contains the url and descrition
            // look at the server to understand what data should be sent.
            let requestData = {
                "user": user,
                "name": name,
                'answer': answer,
                "question": question,
            }
            $.ajax({
                url: '/Answers',
                type: "POST",
                dataType: "json",
                contentType: 'application/json',
                data: JSON.stringify(requestData),
                success: function(data) {
                    //TODO 5 after creating the video update the table
                    console.log("response for answer creation" + data)
                    console.log(data.question)
                    updateAnswerstable(data.question)
                }
            });
        }

        function updateQuestiontable() {
            $.ajax({
                url: '/QA',
                type: "GET",
                dataType: "json",
                success: function(data) {
                    console.log(data);
                    $('#questionsTable > tbody:last-child').empty()
                    data["QA"].forEach(q => {
                        console.log(q["time"] + " " + q["question"])
                        $('#questionsTable > tbody:last-child').
                        append('<tr> <td>' + q["time"] + '</td><td>' + q["question"] + '</td><td style="text-align:center"> <input type="radio" name="radioQ" value=' + q["QA_id"] + '> </td></tr>');
                    });
                }
            });
        }

        function updateAnswerstable(question_id) {
            $.ajax({
                url: '/Answers/' + question_id,
                type: "GET",
                dataType: "json",
                success: function(data) {
                    console.log("ola");
                    console.log(data);
                    $('#ansTable > tbody:last-child').empty()
                    data["Answers"].forEach(a => {
                        console.log(a["user"] + " " + a["name"] + " " + a["answer"] + " " + a["question"])
                        $('#ansTable > tbody:last-child').
                        append('<tr> <td>' + a["user"] + '</td><td>' + a["name"] + '</td><td>' + a["answer"] + '</td></tr>');
                    });
                }
            });
        }

        $(document).ready(function() {
            var vPlayer = videojs('videoPlayer');
            updateQuestiontable()
            $("#buttonVideoPause").click(function() {
                vPlayer.pause()
                var pauseTime = vPlayer.currentTime()
                console.log(pauseTime)
                $("#resumetime").val(pauseTime)
                document.getElementById("newTime").value = pauseTime;

            })
            $("#buttonVideoResume").click(function() {
                    vPlayer.currentTime(parseFloat($("#resumetime").val()))
                    vPlayer.play()
                })
                //TODO 6 - get the value of #playVideoID
            $.ajax({
                //TODO 7 - retrieve the corresponding URL by
                //        calling the /videos/<id>/ REST endpoint)
                url: '/videos/' + id + '/',
                type: "GET",
                dataType: "json",
                success: function(data) {
                    console.log(data)
                    url = data["url"]
                    $("#desc").html("Playing: " + data["description"]);
                    console.log(url)
                        //TODO 8 - update the player with the url retrieved
                    vPlayer.src({
                        "type": "video/youtube",
                        "src": url
                    });
                    vPlayer.play()

                    $.ajax({
                        //TODO 9 - increase the number of views
                        url: '/videos/' + id + '/views',
                        type: "PUT",
                        dataType: "json",
                        success: function(data) {
                            console.log(data)
                        }
                    })
                }
            });

            // TODO 11 - update the table
            $("#buttonAddQuestion").click(function() {
                    newTime = $("#newTime").val()
                    newQuestion = $("#newQuestion").val()
                    addNewQuestion(newTime, newQuestion)
                        //TODO 3 - get the values of #newVideoURL and newVideoDescription
                        // and pass those values to the addNewVideo function
                    vPlayer.currentTime(parseFloat($("#resumetime").val()))
                    vPlayer.play()
                })
                // TODO 11 - update the table
            $("#buttonAddAnswer").click(function() {
                newAnswer = $("#newAnswer").val()
                question = $('input[name=radioQ]:checked').val()
                console.log(user)
                console.log(name)
                console.log(newAnswer)
                console.log(question)
                if (question > 0)
                    addNewAnswer(user, name, newAnswer, question)
                else
                    alert("Please choose answer")
                    //TODO 3 - get the values of #newVideoURL and newVideoDescription
                    // and pass those values to the addNewVideo function
            })
            $("#buttonSeeAnswers").click(function() {
                question_id = $('input[name=radioQ]:checked').val()
                console.log(question_id)
                updateAnswerstable(question_id)
            })
        });
    </script>

</head>

<body>
    <h1 style="margin-left:5px" id="desc"></h1>
    <div class="row">

        <div class="element1 col-md-5" style="margin-left:5px">
            <video id="videoPlayer" controls class="video-js vjs-default-skin" width="640" data-setup='{ "autoplay": true, "preload": "auto", "techOrder": ["youtube"], "sources": [{ "type": "video/youtube" }'>
            </video>
        </div>
        <div class="element2 col-md-1">
        </div>
        <div class="element3 col-md-5" style="height:20vw;overflow:auto;">
            <table class="ui celled table selectable" style="width: 100%" id="questionsTable">
                <thead>
                    <tr>
                        <th style="width: 25%">Time [s]</th>
                        <th style="width: 65%">Question</th>
                        <th style="width: 10%">Answers</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="element4 col-md-1">
        </div>

    </div>
    <button style="margin-left:51vw; margin-top:5px;" class="ui button" id="buttonSeeAnswers">See Answers</button>
    <h3 style="margin-left:5px">Control Video</h3>
    <button class="ui button" style="margin-left:5px" id="buttonVideoPause">PAUSE Video</button>
    <div class="ui input focus">
        <input type="text" id="resumetime">
    </div>
    <button class="ui button" id="buttonVideoResume">RESUME Video</button>
    <h3>Add a new Question</h3>
    <div class="ui input">
        <input type="text" placeholder="Time" id="newTime">
    </div>
    <div class="ui input">
        <input type="text" placeholder="Question" id="newQuestion">
    </div>
    <button class="ui button" id="buttonAddQuestion">Add new Question</button>

    <h3>List of Answers</h3>
    <table class="ui celled table selectable" id="ansTable">
        <thead>
            <tr>
                <th style="width: 25%">User</th>
                <th style="width: 25%">Name</th>
                <th style="width: 50%">Answer</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <h3>Add a new Answer</h3>
    <div class="ui input">
        <input type="text" placeholder="Answer" id="newAnswer">
    </div>
    <button class="ui button" id="buttonAddAnswer">Add new Answer</button>

</body>

</html>